#image_heading {
  background-image: url('./../../images/september_image3.jpg');
  width: 100%;
  height: 270px;
  background-position:  center top ;
  margin-top: auto;
 }

.p{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.btn.btn-primary {
    background-color: #78267c  !important;
    border-color: #78267c !important ;
    font-size: small;
  
  }

.card{
 
    /*padding: 5px 5px 5px 5px;*/
    margin-bottom: 30px;
    margin-top: 40px;
    width: 75%;
  
    
  }
  
  .card-body{
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }

  .card-title{
    font-weight: bold;
    font-size: 16px;
  }


  #card_events{
    float:right;
    width: 20%;
    /*padding: 5px 5px 5px 5px;*/
    background-color: whitesmoke;
    margin-top: 60px;
    margin-right: 50px;  
    font-family: 'Montserrat', sans-serif;
    font-size:14px
    
  }

  #archive_body{
    position: absolute;
    top: 100%;
    right: 3%;
    background-color: whitesmoke;
    margin-top: 150px;
    margin-right: 50px;  
    
  }

  #archive_title{
    font-family: 'signatriaregular';
    font-size: 40px;
  }

  #archive_content{
    position: absolute;
    top: 130%;
    right:2.5%;
    display: table;
    width:300px;
    height:70px;
    
  }

  #archive_content p{
    
    text-align:left; 
    vertical-align: middle;
    display: table-cell;   
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    
  }


  #event_title{
    text-align:center;
    font-family: 'signatriaregular';
    font-size: 40px;
  }


 

  .list-group-item {
   background-color: whitesmoke !important;

  }


  .active{
    background-color: #78267c !important;
 
   }
   #latest_issue{
    border-top: 1px solid darkgrey;
    margin-top: 5px; /*horizontal ruler*/
    margin-left:10px;
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
    padding-top: 40px;
  }

 #archive_content a{
    text-decoration: none;
    color:inherit;
    
  }

  @media screen and (max-width: 992px) {

    #card_events {
      float:none;
      bottom: 0;
      width: 100%; 
      border-bottom: 1px solid darkgrey;/*delimit widgets*/
      
    }
    
    #event_title {
      margin-top: -40px;
    
    }
    #latest_issue{
    margin-top: none;
    border-top: none;
    font-size: 1em;
    }
  
    #archive_body{
      position: relative;
      width: 100%;
      /* bottom:0; */
      text-align: center;
      padding-top: 10px;
      margin-top: 10px;
      
    }
    #archive_content{
      position: relative;
      width: 100%;
      margin-left: 10px;
      /* bottom:0; */
      text-align: center;
      border-bottom: 1px solid darkgrey;
      
    }
  
    #archive_content p{
      padding-left: 15px;
    }
      
    .card{
      width: 100%;
    
    }

  #image_heading {
    width: 100%; 
  
  } 

  


  }